*.db
*.egg-info
*.pyc
*.swo
*.swp
*~
.DS_Store
.Python
.idea
.s3_secret_key
/bin/
/build/
/include/
/lib/
/log/
/man/
/share/
/src/subscription/block_subscription
dist/
local_settings.py
pk-APKAJQLZ3H5LNLMBP5GA.pem
src/cache/
tmp
